html,
body {
  height: 100%;
}

.wrapper {
  min-height: 100%;
  margin-bottom: -178px;
}

.wrapper:after {
  content: "";
  display: block;
  height: 178px; 
}

.content {
  height: 100%;
}

body {
	font-family: 'Roboto';
}

h1 {
	font-size: 20px;
}

.top {
	border-bottom: 1px solid #ccc;
	height: 51px;
}

.navbar-toggle {
	position: relative;
	float: left;
	padding: 5px 10px;
}

.navbar-toggle .icon-bar {
	background-color: #a0063d;
	width: 31px;
	height: 5px;
}

.main-menu ul li {
	text-align: center;
}

.logo-block {
	display: inline-block;
	width: 100%;
	margin-left: -63px;
	margin-right: -70px;
	text-align: center;
}

.logo-small {
	margin-top: 10px;
	width: 30px;
	height: 30px;
}

.logo-text {
	display: none;
}

.phone-block {
	display: none;
}

.basket-block {
	float: right;
	margin-top: 10px;
	position: relative;
	margin-right: 6px;
}

.basket-block a {
	text-decoration: none;
}

.basket-q {
	position: absolute;
	background-color: #de510b;
	width: 20px;
	height: 20px;
	text-align: center;
	border-radius: 10px;
	top: 17px;
	left: 22px;
}

.q-number {
	color: #fff;
	font-weight: 600;
	margin-top: 1px;
}

.basket-text {
	display: none;
}

.slide-holder {
	margin: 0px -15px;
}

.carousel-control.left,.carousel-control.right {
	background: none;
}

.main-buttons {
	margin: 0px -15px;
}

.main-buttons-l, .main-buttons-r {
	width: 100%;
}

.main-buttons img {
	max-width: 100%;
	margin-bottom: 10px;
	min-width: 100%;
}

.sign-block {
	background-color: #de510b;
	padding: 10px;
	margin-top: 8px;
	margin-bottom: 10px;
}

.sign-block-text {
	vertical-align: middle;
	color: #fff;
}

.sign-block span {
	float: left;
	width: 45px;
	height: 46px;
	background: url(../img/sale-i.png);
	margin-right: 10px;
	margin-top: 5px;
	margin-bottom: 10px;
}

.sign-block input {
	width: 100%;
	height: 40px;
	border: none;
	padding: 0px 10px;
    font-size: 16px;
}

.dbr-btn {
	width: 100%;
	color: #fff;
	font-size: 16px;
	height: 40px;
	border: none;
	margin-top: 5px;
	background: rgb(202,120,147);
	background: -moz-linear-gradient(top,  rgb(202,120,147) 0%, rgb(159,2,58) 100%);
	background: -webkit-linear-gradient(top,  rgb(202,120,147) 0%,rgb(159,2,58) 100%);
	background: linear-gradient(to bottom,  rgb(202,120,147) 0%,rgb(159,2,58) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ca7893', endColorstr='#9f023a',GradientType=0 );
}

.dbr-btn:hover {
	color: #fff;
	background: rgb(201,94,128);
	background: -moz-linear-gradient(top,  rgb(201,94,128) 0%, rgb(155,3,46) 100%);
	background: -webkit-linear-gradient(top,  rgb(201,94,128) 0%,rgb(155,3,46) 100%);
	background: linear-gradient(to bottom,  rgb(201,94,128) 0%,rgb(155,3,46) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c95e80', endColorstr='#9b032e',GradientType=0 );
}

/* CATALOG */

.path {
	margin-top: 20px;
	font-size: 13px;
}

.path a {
	color: #a0063d;
	text-decoration: underline;
}

.goods {
	margin-left: -15px;
	margin-right: -15px;
	margin-top: 20px;
	margin-bottom: 20px;
}

.good-item {
	display: table;
	width: 100%;
	border: 1px solid #d7d7d7;
	border-left: none;
	border-right: none;
	padding: 10px 0px;
	margin-bottom: -1px;
}

.good-holder {
	display: table-cell;
}

.good-photo {
	float: left;
	padding: 10px;
	max-width: 100px;
	min-height: 190px;
}

.good-photo img {
	max-width: 100%;
}

.good-info-holder {
	display: table-cell;
}

.good-title a {
	font-size: 17px;
	color: #8c6e49;
}

.add-to-basket .dbr-btn {
	max-width: 180px;
}

.good-price {
	font-size: 18px;
	font-weight: 700;
	padding-top: 30px;
}

.podrazdel {
	margin-top: 10px;
	font-size: 16px;
}

.podrazdel a {
	margin-right: 10px;
}

/* GOODS END */

/* CARD */

.card-holder {

}

.card-photo {
	text-align: center;
}

.card-zoom a {
	display: none;
}

.card-good-price {
	font-size: 30px;
	color: #09195d;
}

.card-info {
	margin-top: 20px;
}

.card-info a {
	color: #a0063d;
	text-decoration: underline;
}

.card-subheader {
	color: #a0063d;
	font-size: 18px;
	margin-bottom: 3px;
}

.card-links {
	display: block;
	margin-bottom: 20px;
	max-width: 760px;
}

.card-links ul {
	padding-left: 0;
	list-style: none;
}

.card-links ul li a {
	color: #868686;
	margin-left: 20px
}

.card-links ul li a:before {
	content: '•';
	color: #e0c15c;
	margin-right: 5px;
	font-size: 18px;
}

.basket-summ-block {
	margin-bottom: 10px;
}

.basket-summ {
	font-size: 20px;
	color: #606060;
}

.basket-sale {
	font-size: 13px;
	color: red;
}

.basket-itogo {
	font-size: 22px;
	font-weight: 700;
	color: #a0063d;
}

.basket-form {
	background-color: #d0bfaa;
	margin-top: 10px;
	margin-bottom: 10px;
	padding: 10px;
}

.basket-form-inputs-left {
	display: block;
}

.basket-form-inputs-right {
	display: block;
}

.basket-form-inputs-left input {
	width: 100%;
	margin-top: 5px;
	margin-bottom: 5px;
	padding-left: 5px;
}

.basket-form-inputs-right textarea {
	width: 100%;
	margin-top: 5px;
	padding-left: 5px;
	resize: none;
}

/* CARD END */

/* BASKET */

.quantity {
	display: inline-block;
}

.basket-holder {
	display: table;
	width: 100%;
}

.basket-left {
	display: block;
}

.basket-right {
	display: block;
}

.basket-holder .good-price {
	display: inline-block;
	margin-left: 10px;
	padding-top: 10px;
}

.basket-holder .good-info-holder {
    height: 65px;
}

.basket-holder .good-item {
    height: inherit;
}

.basket-holder .good-photo {
    min-height: 140px;
}

.promo input {
	display: inline-block;
	height: 38px;
	width: 135px;
}

.promo .dbr-btn {
	display: inline-block;
	width: 150px;
	height: 39px;
}

.basket-info {
	display: none;
}

.delete-item {
	float: right;
}

.delete-item a {
	text-decoration: underline;
	color: #000;
	font-size: 13px;
	margin-right: 7px;
}

/* BASKET END */

/* ZAKAZ-DONE */

.thanx-page {

}

.thanx-block {
	width: 300px;
	height: 300px;
	background-color: #ccc;
	background: url(../img/zakaz-done.jpg);
	vertical-align: middle;
	text-align: center;
	display: table;
	background-size: cover;
	padding-top: 50px;
}

.footer {
	background-color: #43261a;
	padding-top: 10px;
	text-align: center;
}

.footer a {
	color: #fff;
}

.footer-links ul {
	padding-left: 0;
	list-style: none;
}

.footer-links ul li {
	padding-bottom: 5px;
	color: #fff;
}

.socials-holder {
	text-align: center;
}

.socials {
	width: 235px;
	height: 47px;
	background-color: #aa835b;
	margin: auto;
}

.socials div {
	width: 47px;
	height: 47px;
	vertical-align: middle;
	text-align: center;
	display: inline-block;
	float: left;
	background-repeat: no-repeat;
	background-position: center;
}

.vk {
	background: url(../img/vk-icon.png);
	background-color: #2670cc;
	background-size: 14px 19px;
}

.tw {
	background: url(../img/tw-icon.png);
	background-color: #5bb2ee;
	background-size: 25px 20px;
}

.yt {
	background: url(../img/you-icon.png);
	background-color: #cf2c29;
	background-size: 14px 16px;
}

.fb {
	background: url(../img/fb-icon.png);
	background-color: #2e3192;
	background-size: 10px 20px;
}

.ig {
	background: url(../img/insta-icon.png);
	background-color: #603913;
	background-size: 22px 22px;
}

.copy {
	color: #aa835b;
	padding: 8px;
}


@media (min-width: 600px) {

.main-buttons {
	margin: inherit;
}

.sign-text {
    margin-top: 17px;
}

.good-photo {
	max-width: 200px;
	float: left;
}

.basket-holder .good-photo {
    max-width: 150px;
}

.card-good-price {
	display: inline-block;
}

.card-add-to-basket {
	display: inline-block;
	margin-left: 30px;
}

.card-links {
	border-bottom: 1px solid #d7d7d7;
}

.card-links ul li {
	display: inline-block;
}

.card-links ul li a:before {
	margin-left: -14px;
    margin-top: -1px;
    position: absolute;;
}

.card-links ul li:first-child a:before {
	content: '';
}

.basket-summ-block {
    margin-bottom: 10px;
    float: right;
    text-align: right;
    padding-right: 20px;
}

}

@media (min-width: 768px) {

.main-buttons-l, .main-buttons-r {
	width: 50%;
	display: inline-block;
	margin: -1px;
}

.collapse {
    display: block;
}

.header-table {
	display: table;
	width: 100%;
}

.top {
	height: 148px;
	border-bottom: none;
}

.phone-block {
	display: table-cell;
	vertical-align: top;
	padding-top: 42px;
}

.phone-num {
	font-size: 22px;
	color: #451c08;
}

.phone-block a {
	color: #a0063d;
	text-decoration: underline;
	font-size: 15px;
}

.logo-block {
	display: table-cell;
	margin-left: 0;
	margin-right: 0;
	width: initial;
	vertical-align: top;
}

.logo-small {
	width: 60px;
	height: 60px;
	margin-top: 28px;
}

.logo-text {
	display: block;
	margin: auto;
	margin-top: 10px;
}

.basket-block {
	display: table-cell;
	margin-top: 47px;
}

.basket-q {
	display: none;
}

.basket-text {
	display: inline-block;
	margin-left: 10px;
}

.main-menu {
	background-color: #43261a;
}

.nav>li>a {
	padding-top: 0;
	padding-left: 0;
	padding-right: 0;
	padding-bottom: 10px;
}

.nav > li > a:focus, .nav > li > a:hover, .nav > li > a:active {
    background-color: transparent;
}

.main-menu ul {
	padding-left: 0;
	list-style: none;
	text-align: center;
}

.main-menu ul li {
	display: inline-block;
	margin-right: 23px;
	padding-top: 11px;
    padding-bottom: 1px;
}

.main-menu ul li:last-child {
	margin-right: 0;
}

.main-menu ul li a {
	color: #fff;
}

.main-menu ul li a:hover {
	background: none;
	color: #ff9600;
}

.good-item {
    display: inline-block;
    width: 49%;
    border: 1px #d7d7d7 solid !important;
    padding: 10px 10px;
    margin-bottom: inherit;
    height: 240px;
}

.good-photo {
    max-width: 150px;
}

.card-zoom-pop {
	text-align: center;
}

.good-info-holder {
    height: 110px;
}

.small-info {
	padding-bottom: 10px;
	font-size: 15px;
}

.card {
	border: 1px solid #d7d7d7;
	padding: 20px;
	max-width: 720px;
	min-width: 720px;
	display: table;
	margin-bottom: 10px;
}

.card-photo {
	display: table-cell;
	padding-top: 20px;
	padding-right: 20px;
	padding-bottom: 20px;
	border-right: 1px solid #d7d7d7;
	min-width: 300px;
}

.card-zoom {
	position: relative;
}

.card-zoom a {
	display: block;
	width: 100%;
    height: 100%;
    margin: auto;
    position: absolute;
    bottom: 0;
    top: 0;
    right: 0;
    left: 0;
}

.card-zoom:after {
	content: '';
	background: url('../img/zoom-icon.png');
	width: 28px;
	height: 28px;
	display: block;
	right: 0px;
	bottom: 0px;
	position: absolute;
}

.card-add-to-basket {
    display: inline-block;
    margin-left: 0;
}

.card-good-price {
	display: inline-block;
}

.card-add-to-basket .dbr-btn {
	max-width: 200px;
	margin-left: 20px;
}

.price-info-holder {
	display: table-cell;
	vertical-align: top;
	padding-left: 30px;
	padding-top: 30px;
}

/* basket */

.basket-left {
	display: table-cell;
}

.basket-right {
	display: table-cell;
	width: 220px;
	vertical-align: top;	
}

.basket-holder .goods {
    margin-left: 0;
    margin-right: 0;
	margin-right: 20px;
	margin-top: 0;
	margin-bottom: 5px;
}

.basket-holder .good-item {
    width: 100%;
}

.basket-inputs-holder {
	display: table;
	width: 100%;
}

.basket-form {
    padding: 30px;
}

.basket-form-inputs-left {
	float: left;
	width: 50%;
}

.basket-form-inputs-right {
	float: right;
	width: 48%;
}

.basket-form-inputs-right textarea {
	height: 98px;
}

.basket-form-inputs-left input {
    margin-top: 5px;
    margin-bottom: 10px;
    height: 34px;
}

.basket-form-inputs-right textarea {
    height: 132px;
}

.basket-info {
	border: 1px solid #dfbe55;
	padding: 10px;
	display: block;
}

.add-to-basket {
	text-align: center;
}

.promo {
	background-color: #8c6e49;
	margin-top: 20px;
	padding: 10px;
	color: #fff;
}

.promo .dbr-btn {
	width: 100%;
}

.promo-header {
	position: relative;
	margin-top: 10px;
	margin-bottom: 15px;
}

.promo-header:before {
	content: '';
	background: url(../img/coupon.png);
	width: 45px;
	height: 46px;
	position: absolute;
	top: -13px;
}

.promo span {
	margin-left: 50px;
}

.promo input {
	width: 100%;
	border: none;
	height: 37px;
	margin-top: 5px;
}

}


@media (min-width: 992px) {

.main-menu ul li {
	padding-top: 11px;
    padding-bottom: 1px;
    margin-right: 32px;
    margin-left: 32px;
}

.main-menu ul li:after {
	content: '';
	background: url(../img/menu-border.png);
	width: 2px;
	height: 14px;
	background-repeat: no-repeat;
	background-position: center;
	padding: 1px;
    position: absolute;
    top: 14px;
	right: -34px;
}

.main-menu ul li:last-child:after {
	content: '';
	background: none;
}

.sign-block-text {
    display: inline-block;
}

.sign-block {
	height: 70px;
}

.sign-block input {
    display: inline-block;
    width: 200px;
}

.sign-block .dbr-btn {
	width: 184px;
}

.sign-text {
    margin-top: 0;
}

.sign-block span {
	margin-top: 3px;
}

.card, .card-links {
	max-width: 850px;
	min-width: 850px;
}

.footer-links {
	display: inline-block;
	margin-top: 21px;
	float: left;
}

.footer-links ul li {
	display: inline-block;
	margin-right: 10px;
}

.socials-holder {
	display: inline-block;
	margin-top: 8px;
	float: left;
}

.footer {
    padding-bottom: 16px;
}

.wrapper {
  margin-bottom: -82px;
}

.wrapper:after {
  height: 82px; 
}

.copy {
    margin-top: 13px;
}

.good-item {
    width: 47%;
    margin-right: 25px;
}

.basket-form {
	width: 74%;
}



}


@media (min-width: 1200px) {

.sign-text {
    font-size: 17px;
}

.sign-block input {
    width: 286px;
    margin-left: 10px;
}

.main-menu ul li {
    margin-right: 46px;
    margin-left: 46px;
}

.main-menu ul li:after {
	right: -50px;
}

.basket-form {
    width: 79%;
    margin-bottom: 30px;
}

}